@model DrunkSquad.Models.Faction.FactionInfo

@{
    ViewData ["Title"] = "Membership Oveview";
}

<div>
    <div class="container card border-secondary">
        <div class="row">
            <h1><b>Member Overview</b></h1>
        </div>

        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><b>Username [Torn ID]</b></th>
                        <th><b>Level</b></th>
                        <th><b>Position</b></th>
                        <th><b>Days in Faction</b></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var member in Model.Members) {
                        <tr>
                            <td><a href="https://www.torn.com/profiles.php?XID=@member.MemberID">@($"{member.Name} [{@member.MemberID}]")</a></td>
                            <td>@member.Level.ToString("N0")</td>
                            <td>@member.Position</td>
                            <td>@member.DaysInFaction.ToString("N0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
