@using System.Security.Claims
@using DrunkSquad.Logic.Extensions
@using DrunkSquad.Models.Users
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrunkSquad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrunkSquad.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <style>
        #user-access {
            margin-left: auto;
            margin-right: 0;
        }

        #banner {
            width: 200px;
            height: 100%;
        }

        #banner-image {
            width: 100%;
            height: 100%;
        }

        .navbar {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div id="banner">
                <img id="banner-image" src="@Url.Content("~/Images/banner.png")" />
            </div>
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Overview" asp-action="Overview">Overview</a>
                            </li>

                            if (User.Claims.First (claim => claim.Type == ClaimTypes.Role).Value.ToUserRole() == UserRole.Admin) {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Crimes</a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Crimes" asp-action="AllCrimesOverview">Crimes Overview</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Crimes" asp-action="OrganizedCrimesOverview">Organized Crimes</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Crimes" asp-action="PersonalCrimesOverview">Personal Crime Stats</a>
                                    </div>
                                </li>
                            }
                            else {
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Crimes" asp-action="PersonalCrimesOverview">Personal Crime Stats</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav" id="user-access">
                        @if (User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Registration">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DrunkSquad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
