@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <h1>
            Welcome to Drunk Squad!
        </h1>
        <p>I’ve played this game for a little over 16 years, most of those years have been pretty ineffectively. I simply didn't have anyone to show me the ropes, like many others who start out. The goal of this faction is to fix that. We aim to provide an environment to welcome newcomers to the game and help them climb the ladder and have fun while doing it. We strive to provide a fun family based atmosphere where you can excel.</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Benefits</h3>
                    <ul>
                        <li>Friendly environment</li>
                        <li>+9 Travel Items</li>
                        <li>+8% Gym Gains (currently inactive)</li>
                        <li>-30% Drug Addiction</li>
                        <li>24% Addiction Mitigation</li>
                        <li>+20 Nerve</li>
                    </ul>
                </div>

                <div class="ocl">
                    <h3>Requirements</h3>
                    <ul>
                        <li>English fluency</li>
                        <li>A friendly disposition</li>
                        <li>Remain resonably actvie</li>
                        <li>Have fun</li>
                        <li>Join our proprietary stat tracking program</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
