@model DrunkSquad.Models.Users.LoginAttempt

@{
    ViewData ["Title"] = "Login";
}

<style>
    #login-form {
        margin: auto;
        width: 60%;
    }

    #login {
        margin: auto;
        width: 50%;
    }

    .submit {
        margin-top: 10px;
    }

    .error {
        color: red;
    }

    .errorBox {
        height: 23px;
    }
</style>

<div id="login">
    @using (Html.BeginForm("Attempt", "Login", FormMethod.Post)) {
        <h1>Login</h1>

        <div class="form-group">
            <label asp-for="ApiKey">API Key</label>
            <div>@Html.TextBox("ApiKey", null, new { @class = "form-control input-sm"})</div>
            <div class="errorBox">@Html.ValidationMessageFor(m => m.ApiKey, "", new { @class = "error" })</div>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <div>@Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm"})</div>
            <div class="errorBox">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</div>
        </div>

        <input type="submit" value="Login" class="submit" />
    }

</div>
